@import "~bootstrap/scss/bootstrap";
body {
  background-color: lightgoldenrodyellow;
  
}

img{
  height: 70px;
    vertical-align: middle;
    border-style: none;
   border: double;
    margin-top: 2rem; 
   
}

.hide {
  display: none;
}