@import "~bootstrap/scss/bootstrap";
body {
  background-color: lightgoldenrodyellow;
}

img{
  height: 70px;
    vertical-align: middle;
    border-style: none;
    border: greenyellow;
}

.hide {
  display: none;
}